<div data-role="view" data-title="Dashboard" data-transition="zoom" data-model="app.dashboard.viewModel" data-show="app.dashboard.viewModel.show">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-bind="click:myAppLogout">Logout</a>
            <a data-role="button" data-align="left" data-bind="click:Getdata">GET</a>
        </div>
    </div>
 
    <div data-role="content">
        <a data-role="button" id="fbshow" style="display:none" data-bind="click:showData">FB Data Show</a>
    </div>
</div>

