<div data-role="view">
    <a data-role="button" data-click="loginStatus">Login Status</a>
</div>

<script>
    function loginStatus()
    {
       FB.login(function(response){
                if(response.authResponse.accessToken && response.authResponse.userId)
                {
                    alert("login");
                }
                else
                {
                    alert("not logged in");
                    
                }
            },{scope:'email'});
    }
</script>